body{
    margin:0;
    padding:0;
    background:#111;
    font-family:Arial;
    color:white;
    text-align:center;
}

.container{
    margin-top:50px;
}

h1{
    color:#00ffcc;
}

.graphic-box{
    width:500px;
    height:350px;
    margin:auto;
    border:4px solid cyan;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 0 30px cyan;
}

.graphic-box img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:1s;
}

button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    background:#00ccff;
    color:white;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:orange;
}
